.projects__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 2em;
}

.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  background-color: var(--clr-bg-alt);
  border-radius: 1rem;
}

.project:hover {
  transform: translateY(-7px);
}

.project__title {
  margin-bottom: 1em;
  color: var(--clr-fg-alt);
}

.project__description {
  margin-top: 1em;
  color: var(--clr-fg);
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
  gap: 0.5em;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project__links {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}

.project__links a svg {
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.2s ease-in-out;
}

.project__links a:hover svg {
  transform: translateY(-3px);
  color: var(--clr-primary);
}

@media (max-width: 600px) {
  .project {
    padding: 1.5em;
  }
  
  .project__links {
    gap: 1.2em;
  }
  
  .project__links a svg {
    width: 1.4em;
    height: 1.4em;
  }
}